<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage"
    {{- with .Site.Language.Direction }} dir="{{ . }}" {{- end -}}
    {{ with .Site.Language.Name }} lang="{{ . }}" {{- end }} {{/**/ -}}
    class="no-js"
    {{- $darkMode := partialCached "dark-mode-config.html" "dark-mode-global" -}}
    {{- if $darkMode.enable }} data-theme-init{{ end }}>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }} td-blog {{- with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>

    {{ if (eq .Type "blog") -}}
    <section class="td-doc-hero js-td-cover">
      <div class="container-fluid">
        <h1 class="td-doc-hero__title">{{ .Title }}</h1>
      </div>
    </section>
    {{ end -}}

    <div class="container-fluid td-outer">
      {{ $attr := ` data-bs-spy="scroll" data-bs-target=".td-toc" data-bs-root-margin="0px 0px -10%"` -}}
      <div class="td-main" {{- $attr | safeHTMLAttr }}>
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            {{ partial "blog-sidebar.html" . }}
          </aside>
          <aside class="td-sidebar-toc">
            {{ partial "page-meta-links.html" . }}
            {{ partial "toc.html" . }}
            {{ partial "taxonomy_terms_clouds.html" . }}
          </aside>
          <main class="col-12 col-md-9 col-xl-8 ps-md-5 pe-md-4" role="main">
            {{ with .CurrentSection.OutputFormats.Get "rss" -}}
            <a class="td-rss-button" title="RSS" href="{{ .RelPermalink | safeURL }}" target="_blank" rel="noopener">
              <i class="fa-solid fa-rss" aria-hidden="true"></i>
            </a>
            {{ end -}}
            {{ if not (.Param "ui.breadcrumb_disable") -}}
              {{ partial "breadcrumb.html" . -}}
            {{ end -}}
            {{ block "main" . }}{{ end }}
          </main>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
</html>
